
footer {
  margin-top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $navbar-bg-color;
  position: absolute;
  bottom: 0;
  left: 0;


  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    li {
      color: white !important;
      list-style: none;
      a {
        color: white;
        transition: all .2s ease-in;
        &:hover {
          color: $main-color;
        }
        i.fa {
          width: 100%;
        }
      }
    }
  }
}

.social-media {
  margin: auto;
  text-align: center;
  width: 100%;
}

.footer-nav {
  hr {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border: .2px solid rgba(255, 255, 255, 0.35);
  }
  ul {
    li {
      a {
        font-size: 15px;
      }
    }
  }
  @media #{$brk-mobile} {
    display: none;
  }
}
