footer {
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $navbar-color;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    li {
      color: white !important;
      list-style: none;
      a {
        color: white;
        i.fa {
          width: 100px;
        }
      }
      &:hover {
        color: rgb(96, 231, 119);
        cursor: pointer;
        list-style: none !important;
      }
    }
  }
}
