footer {
  margin-top: 100px;
  color: rgb(28, 130, 72);;
  height: 200px;
  color: rgb(28, 130, 72);
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    li {
      list-style: none;
      &:hover {
        color: rgb(96, 231, 119);
        cursor: pointer;
      }
    }
  }
  // ul {
  //   li {
  //     display: inline;
  //   }
  // }
}
