//Navbar

nav {
  background-color: $navbar-bg-color;
  height: 64px;
  .nav-wrapper {
    a.brand-logo {
      img {
        width: 60px;
        margin-top: 5px;
      }
    }
    a.button-collapse {
      .material-icons {
        margin-top: 4px;
        font-size: 40px;
      }
      }
    }
    ul {
      li {
        a {
          font-size: 20px !important;
          font-family: $header-font;
        }
      }
    }
  }

  //header

  h1 {
    font-family: $header-font;
    text-align: center;
    font-size: 14.7vw;
    color: rgb(28, 130, 72);
  }

  h2 {
    font-family: $main-font;
    text-align: center;
    font-size: 7vw;
    color: rgb(106, 44, 118);
  }

  .content {
    img {
    width: 80%;
    margin: 0 10%;
    padding-bottom: 100px;
    position: absolute;
  }
  h3 {
    position: relative;
    color: rgb(106, 44, 118);
    top: 250px;
    left: 115px;
    z-index: 1;
    font-size: 30px;
  }
}
