//Navbar

nav {
  background-color: $navbar-bg-color;
  .nav-wrapper {
    img.brand-logo {
        width: 70px;
      }
    a.button-collapse {
      i.material-icons {
        margin-top: 4px;
        font-size: 40px;
      }
      }
    }
    ul {
      li {
        a {
          font-size: 20px !important;
          font-family: $header-font;
        }
      }
    }
    @media #{$brk-mobile} {
      height: 82px;
      .nav-wrapper {
          img.brand-logo {
            width: 60px;
        }
    }
  }
}

  //header

  h1 {
    font-family: $header-font;
    font-size: 17vw;
    text-align: center;
    color: white;
    background-color: $navbar-bg-color;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    display: block;

    @media #{$brk-tablet} {
        font-size: 14vw;
    }
    @media #{$brk-laptop} {
        font-size: 11vw;
    }
    @media #{$brk-desktop} {
        font-size: 140px;
    }
  }

  h2 {
    font-family: $main-font;
    text-align: center;
    font-size: 7vw;
    color: $secondary-color;
  }

  .content {
    padding-bottom: 100px;
    position: relative;
    img {
    width: 100%;
    margin: auto;
    margin-top: 0;
    border: 20px solid $navbar-bg-color;
    }
    @media #{$brk-tablet} {
      img {
        width: 70%;
      }
    }
    @media #{$brk-laptop} {
      img {
        width: 50%;
      }
    }
  }
