// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  position: relative;
  width: 100%;
}


// background images
body {
  background-color: black;
  font-family: $main-font;
}


//middle content of body
