
@font-face {
    font-family: elephantBlack;
    src: url("../fonts/Elephant-Black/Elephant-Black.ttf");
}

@font-face {
    font-family: elephantMedium;
    src: url("../fonts/Elephant-Medium/Elephant-Medium.ttf");
}
