// background images





//colors

$navbar-color: rgb(213, 103, 101);



//color functions



//fonts
$main-font: elephantBlack;



//media-queries
$brk-tablet: 'screen and (min-width: 700px)';
$brk-desktop: 'screen and (min-width: 1300px)';
$brk-mobile: 'screen and (min-width: 420px)';
