// background images





//colors

$navbar-color: rgb(213, 103, 101);



//color functions



//media-queries
$brk-medium: 'screen and (min-width: 1000px)';
$brk-large: 'screen and (min-width: 1300px)';
